.container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    margin: 50px auto;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 480px;
}

.container h1 {
    font-size: 2rem;
    color: #ffffff;
    border-bottom: 3px solid #21e483;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

.container label {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 10px;
    align-self: flex-start;
}

.container input {
    width: 100%;
    max-width: 400px;
    height: 40px;
    margin-bottom: 20px;
    padding: 5px 10px;
    border: 1px solid #21e483;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    font-size: 1rem;
}

.container input:focus {
    outline: none;
    border-color: #1eb973;
    background: rgba(255, 255, 255, 0.2);
}

.container button {
    width: 100%;
    max-width: 200px;
    height: 40px;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background: #21e483;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    margin-bottom: 10px;
}

.container button:hover {
    background: #1eb973;
    transform: translateY(-3px);
}

.container p {
    color: #ffffff;
}

.active {
    color: #21e483;
    font-weight: bold;
    text-decoration: underline;
}
