
.container {
    margin-top: 30px;
    width: 100%;
    height: calc(60vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 150px;

    
}

.container h1 {
    color: #fff;
    margin-bottom: 30px;
}

.container label {
    color: #fff;
    font-size: 30px;
    margin-top: 30px;
    margin-right: 300px;
}

.container input {
    width: 400px;
    height: 30px;
}

.container button {
    margin-top: 30px;
    width: 200px;
    height: 30px;

    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 7px white;
    transition: 0.2s;
    background-color: #c0bebe;
}

.container button:hover {
    height: 35px;
    width: 225px;
    box-shadow: 1px 1px 12px white;
    background-color: #fff;
    font-weight: 800;

    
}